@inject AppState AppState
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Server App</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-key" aria-hidden="true"></span> Token Authentication
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/reactComponent" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span> React Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="characters">
                <span class="oi oi-person" aria-hidden="true"></span> Marvel Characters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gremlinPage">
                <span class="oi oi-bolt" aria-hidden="true"></span> Gremlin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="oi oi-script" aria-hidden="true"></span> Templates
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="webchat">
                <span class="oi oi-comment-square" aria-hidden="true"></span> WebChat(Disabled)
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swagger">
                <span class="oi oi-script" aria-hidden="true"></span> API
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = false;

    private HubConnection _hubConnection;

    private List<string> _messages = new List<string>();

    private string _userInput;

    private string _messageInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if(firstRender)
            {
                _hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
                .Build();

                _hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
                {
                    var encodedMsg = $"{user}: {message}";
                    _messages.Add(encodedMsg);
                    StateHasChanged();
                });

                await _hubConnection.StartAsync();
            }
        }
        catch(Exception e)
        {

        }
        await _hubConnection.SendAsync("UserConnected");
    }

    private async Task Send() =>
        await _hubConnection.SendAsync("SendMessage", _userInput, _messageInput);

    public bool IsConnected =>
        _hubConnection.State == HubConnectionState.Connected;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
