@inject NavigationManager NavigationManager

<h3>RedirectToLogin</h3>

@code {

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("Identity/Account/LogIn", true);
    }
}
